<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./style.css">
		<title>ITV 3 - Youtube TV en vivo</title>
	</head>
	<body>
		
		<div class="header">
			Youtube TV - Categorías
		</div>
		<div class="container">
			<a class="category" href="/0">
				Noticias
			</a>
			<a class="category" href="/2">
				Música
			</a>
			<a class="category" href="/1">
				Dibujos animados
			</a>
			
		</div>
		
	</body>
</html>